h3 {
    background-color: aqua;
    font-size: 20px;
    font-weight: bolder;
    padding: 20px;
    opacity: 0.8;
}
body {
    background-image: url(../images/sanitizer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.icons li:hover {
    background-color: lightblue;
    
}
#personalDetails {
    background-color: aqua;
    opacity: 0.8;
    padding: 40px;
}
#personalDetails h2, label{
    font-weight: bolder;
}
h4 {
    font-weight: bold;
    text-decoration: underline;
    
}
#symptoms {
   padding-left: 50px;
   background-color: aqua;
   opacity: 0.8;
   padding-bottom: 40px;
   padding-top: 5px;
   
}
#symptoms h2 {
font-weight: bolder;
};
#search-form {
  display: none;
};

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: fit-content;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 10px;
    padding: 50px 0 0 0;
    position: absolute;
    margin-top: 200px;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: 0px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  };


 